In [7]:
import numpy
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
df = pd.read_csv('training.csv')  #Initialisation

In [10]:
df.head()

,Unnamed: 0,Creditability,Account.Balance,Duration.of.Credit..month.,Payment.Status.of.Previous.Credit,Purpose,Credit.Amount,Value.Savings.Stocks,Length.of.current.employment,Instalment.per.cent,...,Duration.in.Current.address,Most.valuable.available.asset,Age..years.,Concurrent.Credits,Type.of.apartment,No.of.Credits.at.this.Bank,Occupation,No.of.dependents,Telephone,Foreign.Worker
0,497,1,3,6,2,3,2108,1,3,2,...,2,1,29,2,1,1,1,1,1,1
1,756,0,1,15,1,4,950,1,4,4,...,3,3,33,2,1,2,1,2,1,1
2,580,0,1,42,2,3,7174,4,3,4,...,3,3,30,2,2,1,1,1,2,1
3,833,0,3,36,3,4,7980,4,1,4,...,4,3,27,2,1,2,1,1,2,1
4,602,1,3,24,3,2,2028,1,3,2,...,2,2,30,2,2,2,1,1,1,1

In [24]:
#Creating lists X and Y to input into the fit method
X = []
Y = df[df.columns[0]].tolist()
for i in range(500):
    x = df.iloc[i,2:22].tolist()
    X.append(x)

In [25]:
#X, y = make_classification(n_samples=500, n_features= 20, n_informative=2, n_redundant=0, random_state=0, shuffle=False)
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
clf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [27]:
table = [0, 0, 0, 0]
df1 = pd.read_csv('test.csv')
Y = df1[df1.columns[1]].tolist()
correct = 0
wrong = 0
for i in range(500):
    output = clf.predict([X[i]])
    if(output[0] == 1 and Y[i] == 1):
        table[0] = table[0] + 1
        #correct = correct + 1
    elif(output[0] == 0 and Y[i] == 1):
        table[1] = table[1] + 1
    elif(output[0] == 1 and Y[i] == 0):
        table[2] = table[2] + 1 
    else:
        table[3] = table[3] + 1
#correct = (correct/5)
#print('Accuracy = ', correct, '%')
accuracy =  ( table[0] + table[3] ) / 500
print(accuracy*100)
print(table)

100.0
[1, 0, 0, 499]